:root {
  --color-primary: #001d2f;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-light-100: rgba(255, 255, 255, 1.00);
  --color-light-070: rgba(255, 255, 255, .70);
  --color-light-030: rgba(255, 255, 255, .30);
  --color-light-012: rgba(255, 255, 255, .12);

  --color-dark-087: rgba(0, 0, 0, .87);
  --color-dark-054: rgba(0, 0, 0, .54);
  --color-dark-026: rgba(0, 0, 0, .26);
  --color-dark-012: rgba(0, 0, 0, .12);

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  

  --color-alto-010: rgba(255, 255, 255, .10);
  --color-alto-020: rgba(255, 255, 255, .20);

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .1);

  --line: solid 1px var(--color-grey-light-2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size10pxにしたいが、ここで指定するとzoomができなくなるので、％で表したい。
    フォントサイズdefaltは16pxのところ、10pxにしたいので 10/16 = 0.625で62.5%にする
    */
  font-size: 62.5%; 
}

body {
    font-size: 1.4rem;
    box-sizing: border-box;
    //padding: 3rem;
    font-family: "Lato", sans-serif;
    background-color: #ddd;
}


