.header {
    font-size: 1.8rem;
    text-align: center;
    
}



.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow-dark);

    

    display: flex;
    flex-direction: column;
    

}

