

h1 {
    font-size: 5rem;
    color: #fff;
    padding: 2rem 0 1.5rem 0;
    text-transform: uppercase;
    
}
.subtitle {
    font-size: 2rem;
    color: var(--color-light-070);
}


h2 {
    font-size: 1.4rem;
    padding: 3px;
}
.item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;


    &__title {
        
        color: var(--color-grey-light-2);
        display: flex;
        text-transform: uppercase;
        background-color: var(--color-primary);
        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        vertical-align: middle;

        &-img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            
            
        }
        
    }

    &__box {
        max-width: 85rem;
        background-color:var(--color-light-100);
        box-shadow: var(--shadow-light);

        margin-top: 2rem;
        padding: 1rem;
        border-radius: 3px;
        position: relative;
        
    }

    &__img-box {
        margin-top: 3rem;

        display: flex;
        flex-wrap: wrap;
        
        
    }

    &__img {
        
    }
}

.front {
    height: 7rem;
    width: 7rem;
    //background-color: var(--color-grey-dark-1);
    margin: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        height: 5.5rem;
        width: auto;
        border-radius: 50%;
        transition: transform .3s;
        backface-visibility: hidden;

        &:hover {
            transform: scale(1.5);
        }
    }
}

.back {
    display: none;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .2;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

////////////////////////////////////////////
//POP UP
.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(95, 95, 95, 0.904);
    //position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        width: 75%;
        height: auto;
        background-color: #fff;
        box-shadow: var(--shadow-light);
        text-align: center;

        // &:target {
        //     overflow: scroll;
        // }

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;

        @media (max-width: 600px) {
            width: 95%;
            
        }

        // @include respond(phone) { // width < 600
        //     background-color: aqua;
              
        // }
        
        
    }

    &__img-box {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
    }

    &__img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-bottom: 2rem;
        padding: 2rem;

        @media (max-width: 600px) {
            margin-bottom: 0;
        }

        
    }

    &__title {
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 2rem;

        display: flex;
        justify-content: center;

        @media (max-width: 600px) {
            margin-bottom: 0;
        }

    }

    &__text {
        font-weight: 300;
        font-size: 2rem;
        padding: 2rem;
        display: flex;
        justify-content: center;
        text-align: justify;

        

        @media (max-width: 600px) {
            
            height: 300px;
            overflow: scroll;
            margin-bottom: 1rem;
            
        }

    }

    &__btn,
    &__btn:link,
    &__btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        background-color: orange;
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        border: none;
        cursor: pointer;
        position: relative;

        

        // &::after {
        //     content: "";
        //     display: inline-block;
        //     height: 100%;
        //     width: 100%;
        //     border-radius: 10rem;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: -1;
        //     -webkit-transition: all .4s;
        //     transition: all .4s;
        // }

        // .btn, .btn:link, .btn:visited {
        //     
        //     
        //     -webkit-transition: all .2s;
        //     transition: all .2s;
        //     
        //     
        // }

        

        
    }

    
}

