.header {
    background-color: var(--color-dark-087);
    height: 15rem;;
    font-size: 1.8rem;
    text-align: center;
    
}



.container {
    padding: 3rem;
    position: relative;
    
    
    display: flex;
    flex-direction: column;
    

}

